@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ReviewSection)Model.Content;
}

<section class="bg-bg">
    <div class="flex flex-row gap-4 max-w-7xl mx-auto px-4 overflow-visible">
        <div class="flex flex-col gap-3 w-2/3 mt-[2rem]">
            <div>
                <p class="text-[.875rem] text-secondary font-bold uppercase">@content.ReviewLabel</p>
                <div class="rte w-3/4">@Html.Raw(content.ReviewTitle)</div>
            </div>
            <div>
                <div class="rte">@Html.Raw(content.ReviewText)</div>
            </div>
            <div>
                @if (content.ReviewStars != null)
                {
                    <img class="!w-[95px] pb-[1.5rem]" src="@content.ReviewStars.Url()" />
                }
                <p class="text-body-text text-[.875rem]">@content.ReviewName</p>
                <div class="rte">@Html.Raw(content.ReviewRole)</div>
            </div>
        </div>
        <div class="h-full w-full left-[8rem] relative">
            @if (content.ReviewImage != null)
            {
                <img src="@content.ReviewImage.Url()" />
            }
        </div>
    </div>

</section>